<div class="container">
  <div class="login-window">
    <form>
      <div class="form-group">
        <label for="inputEmail">Login ID</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter username or email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <a routerLink="/register">Not a Member, Register !</a><br>
      <a href="#" style="color: gray">Continue as Guest !</a>
      <button type="button" class="btn btn-lg btn-block btn-outline-success">Proceed</button>
    </form>
  </div>
</div>
