<form>
  <div class="form-group">
    <label for="loginId">Login ID</label>
    <input type="text"
           class="form-control"
           id="loginId"
           [placeholder]="placeholder"
           [formControl]='controlName'
           [required]="required">
  </div>
</form>

<div *ngIf="controlName.invalid && (controlName.dirty || controlName.touched)"
     class="alert alert-danger">
  <div *ngIf="controlName.errors.required">
    Name is required.
  </div>
  <div *ngIf="controlName.errors.minlength">
    Name must be at least {{controlName.errors.minlength.requiredLength}}}} characters long.}}
  </div>
</div>
