<div class="container">
  <div class="register-window">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <app-identifier label="Username"
                      placeholder="Enter Username"
                      [controlName]="usernameControl"
                      helpText="minimum = 6, maximum = 20"
                      [required]="true">
      </app-identifier>
      <app-identifier label="Email Address"
                      placeholder="Enter email"
                      [controlName]="emailControl"
                      [required]="true"
                      helpText="We'll never share your email with anyone else.">
      </app-identifier>
      <app-password label="Password"
                    placeholder="Enter Password"
                    [controlName]="passwordControl"
                    helpText="minimum = 6, maximum = 14">
      </app-password>
      <app-password label="Confirm Password"
                    placeholder="Re-Enter Password"
                    [controlName]="passwordMatchControl">
      </app-password>
      <div *ngIf="passwordMatchFlag"
           class="alert alert-danger">Password Not Matching.
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-outline-success">Submit</button>
    </form>
  </div>
</div>
